.header{
    height: 650px;
    width: 100%;
    object-fit: cover;
}

.releases{
    margin: 30px;
    background-color: black;
    padding: 15px;
    
}

.releases:hover{
    background-color: rgb(46, 46, 46);
    transition: background-color 0.5s;
}

.img{
    height: 300px;
    width: 300px;
}

span{
    color: white;
    font-size: 20px;
    margin: 30px;
   
}

span:hover{
    text-decoration: underline white;
}

@media only screen and (max-width: 768px) {
    /* For desktop: */

    .header{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .releases{
        padding: auto;
        width: 100%;
        height: auto;
    }

    /* .img{
        height:100% ;
        width: 100%;
    } */

    span{
        color: white;
        font-size: 12px;
        margin: 30px;
    }
  }